-- AlterEnum
BEGIN;
CREATE TYPE "EvidenceRequestStatus_new" AS ENUM ('OPEN', 'SUBMITTED', 'APPROVED', 'REJECTED', 'CANCELLED');
ALTER TABLE "public"."EvidenceRequest" ALTER COLUMN "status" DROP DEFAULT;
ALTER TABLE "public"."EvidenceRequestIteration" ALTER COLUMN "status" DROP DEFAULT;
ALTER TABLE "EvidenceRequest" ALTER COLUMN "status" TYPE "EvidenceRequestStatus_new" USING ("status"::text::"EvidenceRequestStatus_new");
ALTER TABLE "EvidenceRequestIteration" ALTER COLUMN "status" TYPE "EvidenceRequestStatus_new" USING ("status"::text::"EvidenceRequestStatus_new");
ALTER TYPE "EvidenceRequestStatus" RENAME TO "EvidenceRequestStatus_old";
ALTER TYPE "EvidenceRequestStatus_new" RENAME TO "EvidenceRequestStatus";
DROP TYPE "public"."EvidenceRequestStatus_old";
ALTER TABLE "EvidenceRequest" ALTER COLUMN "status" SET DEFAULT 'OPEN';
ALTER TABLE "EvidenceRequestIteration" ALTER COLUMN "status" SET DEFAULT 'SUBMITTED';
COMMIT;

-- DropForeignKey
ALTER TABLE "RemediationActivity" DROP CONSTRAINT "RemediationActivity_packageId_fkey";

-- DropForeignKey
ALTER TABLE "RemediationActivity" DROP CONSTRAINT "RemediationActivity_taskId_fkey";

-- DropForeignKey
ALTER TABLE "RemediationActivity" DROP CONSTRAINT "RemediationActivity_workflowId_fkey";

-- DropForeignKey
ALTER TABLE "RemediationApproval" DROP CONSTRAINT "RemediationApproval_packageId_fkey";

-- DropForeignKey
ALTER TABLE "RemediationApproval" DROP CONSTRAINT "RemediationApproval_taskId_fkey";

-- DropForeignKey
ALTER TABLE "RemediationApproval" DROP CONSTRAINT "RemediationApproval_workflowId_fkey";

-- DropForeignKey
ALTER TABLE "RemediationAttachment" DROP CONSTRAINT "RemediationAttachment_messageId_fkey";

-- DropForeignKey
ALTER TABLE "RemediationAttachment" DROP CONSTRAINT "RemediationAttachment_packageId_fkey";

-- DropForeignKey
ALTER TABLE "RemediationAttachment" DROP CONSTRAINT "RemediationAttachment_taskId_fkey";

-- DropForeignKey
ALTER TABLE "RemediationAttachment" DROP CONSTRAINT "RemediationAttachment_workflowId_fkey";

-- DropForeignKey
ALTER TABLE "RemediationMessage" DROP CONSTRAINT "RemediationMessage_packageId_fkey";

-- DropForeignKey
ALTER TABLE "RemediationMessage" DROP CONSTRAINT "RemediationMessage_taskId_fkey";

-- DropForeignKey
ALTER TABLE "RemediationMessage" DROP CONSTRAINT "RemediationMessage_workflowId_fkey";

-- DropForeignKey
ALTER TABLE "RemediationTask" DROP CONSTRAINT "RemediationTask_packageId_fkey";

-- DropForeignKey
ALTER TABLE "RemediationTask" DROP CONSTRAINT "RemediationTask_workflowId_fkey";

-- DropForeignKey
ALTER TABLE "WorkflowEvent" DROP CONSTRAINT "WorkflowEvent_workflowId_fkey";

-- DropForeignKey
ALTER TABLE "WorkflowQueueItem" DROP CONSTRAINT "WorkflowQueueItem_workflowId_fkey";

-- DropForeignKey
ALTER TABLE "WorkflowTask" DROP CONSTRAINT "WorkflowTask_packageId_fkey";

-- DropForeignKey
ALTER TABLE "WorkflowTask" DROP CONSTRAINT "WorkflowTask_queueItemId_fkey";

-- DropForeignKey
ALTER TABLE "WorkflowTask" DROP CONSTRAINT "WorkflowTask_workflowId_fkey";

-- AlterTable
ALTER TABLE "AssessmentRun" DROP COLUMN "templateId";

-- AlterTable
ALTER TABLE "AssessmentTemplate" DROP COLUMN "catalogKey",
DROP COLUMN "origin";

-- AlterTable
ALTER TABLE "Evidence" DROP COLUMN "createdAt",
DROP COLUMN "documentDate",
DROP COLUMN "notes",
DROP COLUMN "updatedAt",
DROP COLUMN "url",
DROP COLUMN "validUntil";

-- AlterTable
ALTER TABLE "EvidenceRequest" DROP COLUMN "assessmentRunId",
DROP COLUMN "assignedTo",
DROP COLUMN "attachmentCount",
DROP COLUMN "category",
DROP COLUMN "completedAt",
DROP COLUMN "completedBy",
DROP COLUMN "evidenceCount",
DROP COLUMN "fulfilledAt",
DROP COLUMN "fulfilledEvidenceId",
DROP COLUMN "notes",
DROP COLUMN "requestedAt",
DROP COLUMN "resolutionNotes",
DROP COLUMN "reviewerNotes",
DROP COLUMN "title",
DROP COLUMN "vendorResponse";

-- AlterTable
ALTER TABLE "GovernanceTransparencyLog" DROP COLUMN "actorUserId",
DROP COLUMN "eventHash",
DROP COLUMN "eventKey",
DROP COLUMN "eventType",
DROP COLUMN "metadataJson",
DROP COLUMN "organizationId",
DROP COLUMN "payloadHash",
DROP COLUMN "reviewAssignmentId",
DROP COLUMN "reviewRequestId",
DROP COLUMN "updatedAt",
DROP COLUMN "vendorId";

-- AlterTable
ALTER TABLE "Organization" DROP COLUMN "planTier";

-- DropTable
DROP TABLE "GovernanceTransparencyCheckpoint";

-- DropTable
DROP TABLE "RemediationActivity";

-- DropTable
DROP TABLE "RemediationApproval";

-- DropTable
DROP TABLE "RemediationAttachment";

-- DropTable
DROP TABLE "RemediationMessage";

-- DropTable
DROP TABLE "RemediationPackage";

-- DropTable
DROP TABLE "RemediationTask";

-- DropTable
DROP TABLE "ReviewRequest";

-- DropTable
DROP TABLE "ReviewResponse";

-- DropTable
DROP TABLE "TruvernCreditLedgerEntry";

-- DropTable
DROP TABLE "WorkflowEvent";

-- DropTable
DROP TABLE "WorkflowInstance";

-- DropTable
DROP TABLE "WorkflowQueueItem";

-- DropTable
DROP TABLE "WorkflowTask";

